body {
  background-color: #e5e5e5
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h4 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h5 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: .7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ul li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

ol li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #2d2d2d
}

blockquote {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  color: #2d2d2d
}

a {
  text-decoration: underline;
  color: inherit
}

.fr_text_bright_left {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0;
  color: #e5e5e5
}

.fr_text_bright_left.fr-text h1 {
  color: black
}

.fr_text_bright_left.fr-text p {
  color: #2d2d2d
}

.fr_text_bright_left.fr-text h2 {
  color: rgba(255, 255, 255, 0.8)
}

.fr_text_dark_center.fr-text blockquote {
  text-align: left
}

.fr_text_dark_center.fr-text h1 {
  text-align: center
}

.fr_text_dark_center.fr-text h6 {
  text-align: center
}

.fr_text_dark_center.fr-text h3 {
  text-align: center
}

.fr_text_dark_center.fr-text h5 {
  text-align: center
}

.fr_text_dark_center.fr-text p {
  text-align: center
}

.fr_text_dark_center.fr-text h2 {
  text-align: center
}

.fr_text_dark_center.fr-text h4 {
  text-align: center
}

.fr_hero_animated {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: whitesmoke;
  min-height: 12em
}

.fr_grid_4 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 10rem;
  max-width: 1000px
}

.fr_grid_4.fr-grid>.fr-widget {
  float: left
}

.fr_grid_4.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 2%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 49%;
  clear: left;
  max-width: inherit
}

.fr_grid_4.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 0;
  width: 49%;
  clear: none;
  max-width: inherit
}

.fr_grid_5 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch
}

.fr_grid_5.fr-grid>.fr-widget {
  float: left
}

.fr_grid_5.fr-grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 40%;
  clear: left;
  max-width: inherit
}

.fr_grid_5.fr-grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0rem;
  margin-right: 0;
  margin-bottom: 0rem;
  margin-left: 0;
  width: 60%;
  clear: none;
  max-width: inherit
}

.fr_container_157 {
  display: -webkit-flex;
  display: flex;
  margin-right: auto;
  margin-left: auto
}

.fr_wrapper_overflow_hidden_2 {
  display: block;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  align-self: center;
  width: 100%;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden
}

.fr_container_154 {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/224_1.png_430x451.png);
  background-position: center center;
  background-size: contain;
  position: absolute;
  right: 0
}

.fr_container_155 {
  display: block;
  top: 20%;
  width: 80%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  right: 0
}

.fr_container_156 {
  display: -webkit-flex;
  display: flex;
  width: 70%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/phone2_1.png_1391x2344.png);
  background-position: center center;
  background-size: contain;
  border: 0 solid black;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0
}

.fr_container_158 {
  display: -webkit-flex;
  display: flex;
  margin-right: auto;
  margin-left: auto
}

.fr_image_4 {
  -webkit-align-self: center;
  align-self: center;
  left: -30px;
  width: 80%;
  position: relative;
  max-width: 1000px
}

.fr_text_content_wrapper {
  min-height: 30rem;
  max-width: 1200px
}

.fr_big_text {
  width: auto;
  font-family: PT Sans;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.2em
}

.fr_byline {
  float: none;
  display: block;
  width: 90%;
  margin-top: 1rem;
  max-width: 600px
}

.fr_button_apple_store_2 {
  float: none;
  display: block;
  width: 90%;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #e5e5e5;
  max-width: 170px
}

.fr_footer_3 {
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #f1f1f1;
  min-height: 3.25rem
}

.fr_f3_4_column_grid {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  max-width: 600px
}

.fr_f3_4_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_f3_4_column_grid.fr-grid>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23.75%;
  clear: left;
  max-width: inherit
}

.fr_f3_4_column_grid.fr-grid>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.75%;
  clear: none;
  max-width: inherit
}

.fr_f3_4_column_grid.fr-grid>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.75%;
  clear: none;
  max-width: inherit
}

.fr_f3_4_column_grid.fr-grid>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 23.75%;
  clear: none;
  max-width: inherit
}

.fr_text_69 {
  font-family: Montserrat;
  font-weight: 300;
  text-align: center
}

.fr_text_70 {
  font-family: Montserrat;
  font-weight: 300;
  text-align: center
}

.fr_text_71 {
  font-family: Montserrat;
  font-weight: 300;
  text-align: center
}

.fr_text_72 {
  font-family: Montserrat;
  font-weight: 300;
  text-align: center
}

.fr_text_73 {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.fr_button_apple_store_2 .fr-svg-inner {
  padding-bottom: 29.629629629629626%;
  position: relative
}

@media screen and (max-width:768px) {
  .fr_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_4.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_big_text {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_byline {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_button_apple_store_2 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}

@media screen and (max-width:480px) {
  .fr_text_bright_left.fr-text h1 {
    font-size: 2rem
  }
  .fr_text_dark_center {
    font-size: 1em
  }
  .fr_hero_animated {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_grid_4.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_f3_4_column_grid {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_f3_4_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_f3_4_column_grid.fr-grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 98%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:320px) {
  .fr_text_dark_center {
    font-size: .9em;
    line-height: 1.45em
  }
}

.fr_text_72 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_72:hover {
  color: #d93e45;
  transition-duration: .125s
}

.fr_text_71 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_71:hover {
  color: #d93e45;
  transition-duration: .125s
}

.fr_text_70 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_70:hover {
  color: #d93e45;
  transition-duration: .125s
}

.fr_text_69 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_text_69:hover {
  color: #d93e45;
  transition-duration: .125s
}