<ul class="list-inline text-center">
  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.dir }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.mailme_username %}
  <li>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email={{ site.mailme_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-brands fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.weibo_username %}
  <li>
    <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-brands fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.appstore_developer_id %}
  <li>
    <a target="_blank" href="http://apps.apple.com/developer/{{ site.appstore_developer_id }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-brands fa-app-store fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.facebook_username %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>