body {
    font-size: 2em;
    background-color: #fff;
    color: #000;
}

p {
    display: block;
    /* text-indent: 4em; */
}

.nav {
    text-align: center;
}

.nav a {
    color: #004B6B;
}

.nav a:hover {
    color: #6D4100;
}

h1 {
    /* text-align: center; */
    display: block;
    margin: 0, 0, 30, 0;
    background: url(logo.png) no-repeat center;
    height: 165px;
}

h1 span {
    display: none;
}

