---
layout: default
---

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                {{ content }}

                {% for article in subject.articles %}
                <div>
                    <a href="{{ article.url | prepend: site.dir }}">
                        <h2>
                            {{ article.title }}{{ article.href }}
                        </h2>
                    </a>
                </div>
                <hr>
                {% endfor %}
            </div>

            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>
